body{
	background-image: url(../img/bgnoise.gif);

}

#sf-wrapper{
	background-image: url(../img/bullseye.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
}

.container.main {	
    margin-left: auto;
    margin-right: auto;
}

h1{
	font-size: 35px;
}

#headline h1{
	font-size:60px;
}

#headline h1.caps{
	font-size: 28px;
}

h2 {
  font-size: 28px;
  line-height: 33px;
}

.input-xxlarge {
	width:405px;
}