

body{
	background-image: url(../img/bullseye.svg)
	background-position:center top;
	background: url(../img/bullseye.svg) center top no-repeat, url(../img/bgnoise.gif);
	background-attachment: fixed;
}


.navbar .nav > li > a {
	border:none;
}

#message{
	margin-bottom:70px;
}

.label{
	position: relative;
	bottom:6px;
	margin-left:2px;
}


#etymology {
	margin-top:60px;
	margin-bottom:60px;
}


#solutions{
	margin-top:50px;
	margin-bottom:30px;
}

#case_studies{
	margin-top:50px;
}

.case{
	margin-top:50px;
}


#case_studies img{
margin-bottom:30px;
}

.lightbox-content img {
	margin-bottom:0px !important;
}

#contact h1{
	margin-bottom:50px !important;
}

#landing ul{
	margin-top:10px;
}

#landing{
	  margin-top:120px;
}

.item{
	height:215px;
}

/* typography */

h1{
	font-family: 'Lato', sans-serif; 
}

#case_studies h4 {
	text-align: center;
}

#case_studies h4.subheadline   {
	text-align: left;
}


#etymology h4 {
text-align:center;
}


#about_us h1{
	text-align:left;
}

h1,h2,h3,h4{
	text-align: justify;
	 text-shadow: 1px 0px 0px #f2f2f2;
}

#landing h1{
	font-size:6em;
	font-weight:900;
	line-height: 1em;
	text-align:center;
	margin-bottom:10px;
} 

#landing h1.caps{
	font-size:3em;
	line-height: 1em;
	margin-bottom:70px;
	font-weight:700;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.2em;
}

p{
	margin-top:20px;
	text-align:justify;
	line-height:25px;
}

.nav_links > li > a {
	font-family: Lato;
	font-weight:'300';
	font-size: 21px
}


/* Responsive adjustments */

@media (min-width:100px) and (max-width: 939.99px){

	.hero-unit{
		padding:25px !important;
	}

	#landing{
		margin-top:30px;
	}
}

@media (min-width:768.01px) and (max-width: 939.99px){
	body{
		font-size:9px;
	}

	#landing h1{
		font-size: 5em;
	}
	.item{
	height:235px;
	}
}

@media (min-width: 320px) and (max-width:768px){
	body{
		font-size:10px;
	}

	#landing h1 {
		font-size:4.6em;
	}

	#landing h1.caps{
		font-size:3em
	}

	.item{
	height:330px;
	}
}

@media (min-width: 150px) and (max-width:319.99px){
	body{
		font-size:6px;
	}

	.item{
	height:470px;
	}

}