
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../img/BebasNeue-webfont.eot'),
         url('../img/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/BebasNeue-webfont.woff') format('woff'),
         url('../img/BebasNeue-webfont.ttf') format('truetype'),
         url('../img/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-image: url(../img/bgnoise.gif);
}

.navbar .nav > li > a {
	border:none;
}

#message{
	margin-bottom:70px;
}

.label{
	position: relative;
	bottom:6px;
	margin-left:2px;
}


#etymology {
	margin-top:60px;
	margin-bottom:60px;
}


#solutions{
	margin-top:50px;
	margin-bottom:30px;
}

#case_studies{
	margin-top:50px;
}

.case{
	margin-top:50px;
}


#case_studies img{
margin-bottom:30px;
}

.lightbox-content img {
	margin-bottom:0px !important;
}

#contact h1{
	margin-bottom:50px !important;
}

#landing ul{
	margin-top:10px;
}

/* typography */

h1{
	font-family: 'Bebas Neue', 'BebasNeueRegular', sans-serif; 
}

#case_studies h4 {
	text-align: center;
}

#case_studies h4.subheadline   {
	text-align: left;
}


#etymology h4 {
text-align:center;
}


#about_us h1{
	text-align:left;
}

h1,h2,h3,h4{
	text-align: justify;
	 text-shadow: 1px 0px 0px #f2f2f2;
}

#landing h1{
	font-size:87px;
	line-height: 70px;
	text-align:center;
	margin-bottom:10px;
} 

#landing h1.caps{
	font-size:45px;
	line-height: 40px;
	margin-bottom:70px;

}

h1.caps{
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	font-size:35px !important;
	letter-spacing: 0.27em;
}

p{
	margin-top:20px;
	text-align:justify;
	line-height:25px;
}

.nav_links > li > a {
	font-family: Lato;
	font-weight:'300';
	font-size: 21px
}

/* slider styles */
