    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
      <a name="contact"></a>
      <div class="footer">
        <div class="container">
          <div class="row">
            <a name="contact"></a>
            <div class="col-md-3 map-img md-margin-bottom-40">
              <div class="headline">
                <h2>Contact Information</h2>
              </div>
              <address class="md-margin-bottom-40">
                Vitreo, LLC<br />
								141 E. Glenside Ave.<br />
								2nd Floor<br />
                Glenside, PA 19038<br />
                Phone: <a href="tel:+12155863965">215-586-3965</a><br />
								Email: <a href="mailto:hello@vitreo.co" class="">hello@vitreo.co</a>
							</address>
            </div>
            <div class="col-md-6 map-img md-margin-bottom-40">
              <div class="headline">
                <h2>Contact Form</h2>
              </div>
              <form name="contact" class="needs-validation" data-netlify-recaptcha="true" novalidate netlify>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">*First Name</label>
                    <input type="text" class="form-control" name="firstName" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">*Last Name</label>
                    <input type="text" class="form-control" name="lastName" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="subject">*Company</label>
                    <input type="text" class="form-control" name="company" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="subject">Title</label>
                    <input type="text" class="form-control" name="title" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email">*Email</label>
                    <input type="email" class="form-control" name="email" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="email">Phone</label>
                    <input type="text" class="form-control" name="phone">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="message">*Message</label>
                    <textarea class="form-control" name="message" rows="4" required></textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div data-netlify-recaptcha="true"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- old footer went here --> 
        </div>
      </div>
      <!--/footer-->

      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>
                2020 &copy; All Rights Reserved.
                <!-- <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> -->
              </p>
            </div>

            <!-- Social Links 
            <div class="col-md-6">
              <ul class="footer-socials list-inline">
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </li>
              </ul>
            </div>
            
           -->
          </div>
        </div>
      </div>
      <!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->

