<head>
  <title>{{ site.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Philadelphia based software consultancy providing technical leadership, training and custom development for enterprise & startup clients.">
  <meta name="author" content="">

  {% seo %}
  {% feed_meta %}

  <!--
  <!- - Twitter Card data - ->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Vitreo | Leadership - Training - Development">
  <meta name="twitter:description" content="Philadelphia based software consultancy providing technical leadership, training and custom development for enterprise & startup clients.">
  <meta name="twitter:creator" content="@vitreoco">
  <!- - Twitter Summary card images must be at least 120x120px - ->
  <meta name="twitter:image" content="https://vitreo.co/myassets/img/vitreo-logo-dark-400x400.png">

  <!- - Open Graph data - ->
  <meta property="og:title" content="Vitreo | Leadership - Training - Development" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.vitreo.co/" />
  <meta property="og:image" content="https://vitreo.co/myassets/img/vitreo-logo-dark-400x400.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="400" />
  <meta property="og:description" content="Philadelphia based software consultancy providing technical leadership, training and custom development for enterprise & startup clients." />
  <meta property="og:site_name" content="Vitreo | Leadership - Training - Development" />
  -->

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="/assets/css/headers/header-v6.css">
  <link rel="stylesheet" href="/assets/css/footers/footer-v1.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/plugins/animate.css">
  <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/plugins/layer-slider/layerslider/css/layerslider.css">

  <!--
  <link rel="stylesheet" href="/assets/plugins/parallax-slider/css/parallax-slider.css">
  <link rel="stylesheet" href="/assets/plugins/fancybox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
  -->

  <!-- CSS Theme -->
  <link rel="stylesheet" href="/assets/css/theme-colors/vitreo-colors.css" id="style_color">
  <link rel="stylesheet" href="/assets/css/theme-skins/dark.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/assets/css/custom.css">
</head>
