
    <!--=== Header v6 ===-->
    <div class="header-v6 header-dark-transparent header-sticky">
      <!-- Navbar -->
      <div class="navbar mega-menu" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="menu-container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a href="{{'/' | prepend: site.baseurl}}">
                <img class="default-logo" src="/myassets/img/vitreo-logo-vert-dark.png" alt="Logo">
                <img class="shrink-logo" src="/myassets/img/vitreo-logo-vert-dark.png" alt="Logo">
              </a>
            </div>
            <!-- ENd Navbar Brand -->

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-responsive-collapse">
            <div class="menu-container">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="{{'/#expertise' | prepend: site.baseurl}}">
										Expertise
                  </a>
                </li>
                <li class="dropdown">
                  <a href="{{'/#about' | prepend: site.baseurl}}">
										About
                  </a>
                </li>
                <li class="dropdown">
                  <a href="{{'/#projects' | prepend: site.baseurl}}">
									  Projects
                  </a>
                </li>
                <li class="dropdown">
                  <a href="{{'/articles/' | prepend: site.baseurl}}">
									  Articles
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#contact">
										Contact
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--/navbar-collapse-->
        </div>
      </div>
      <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->
