<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}


<body class="header-fixed">


  <div class="wrapper">
{% include navbar.html %}

    {{ content }}

{% include footer.html %}
  </div>
  <!--/wrapper-->

  <!-- JS Global Compulsory -->
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS Implementing Plugins -->
  <script src="assets/plugins/back-to-top.js"></script>
  <script src="assets/plugins/smoothScroll.js"></script>
  <script src="assets/plugins/wow-animations/js/wow.min.js"></script>

  <!--
  <script src="assets/plugins/jquery.parallax.js"></script>
  <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
  <script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
  -->
  <!-- JS Customization -->
  <script src="assets/js/custom.js"></script>
  <!-- JS Page Level -->
  <script src="assets/js/app.js"></script>
  <!--
  <script src="assets/js/plugins/fancy-box.js"></script>
  <script src="assets/js/plugins/owl-carousel.js"></script>
  <script src="assets/js/plugins/style-switcher.js"></script>
  -->
  <script type="text/javascript">
    jQuery(document).ready(function()
    {
      App.init();
      new WOW().init();
      App.initParallaxBg();
      FancyBox.initFancybox();
      OwlCarousel.initOwlCarousel();
      StyleSwitcher.initStyleSwitcher();
    });
  </script>
  <!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

</body>

</html>

