---
layout: default
---
    <!--=== Full Height Youtube Video ===-->
    <div class="bg-color-darker">
      <div id="promo-video" style="height: 600px;" class="video-business-img1">

        <div class="container valign__middle text-center">
          <img class="default-logo" src="myassets/img/vitreo-logo-horizontal-wt.png" alt="Logo">
          <p class="color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay=".5s"
          style="font-size: 18px; font-weight: 25px; font-weight: 400; padding: 3px 0;">
            {{ site.tagline }}
          </p>
          <h2 class="color-light animated fadeInUp wow margin-bottom-20" data-wow-duration="1.5s" data-wow-delay="1s"
          style="font-size: 60px; line-height: 63px; font-weight: 600; border-bottom: solid 2px #fff; border-top:
            solid 2px #fff; display: inline-block; padding: 7px 0;">BUILD BETTER SOFTWARE</h2>
          <p class="color-light font-open-sans margin-bottom-20 animated fadeInUp wow" data-wow-duration="1.5s"
          data-wow-delay="1.5s" style="font-size: 18px; font-weight: 400;">
          <b>Faster</b> isn't always <b>better</b>, but <b>better</b> is always <b>faster</b>.
          </p>
          <div class="animated fadeInUp wow" data-wow-duration="1.2s" data-wow-delay="2s">
            <a href="#expertise" class="btn-u btn-u-xs btn-brd  btn-brd-hover btn-u-light btn-u-block margin-right-10">LEARN MORE</a>
            <a href="#contact" class="btn-u btn-u-xs btn-brd  btn-brd-hover btn-u-light btn-u-block">CONTACT US</a>
          </div>
        </div>
      </div>
    <div><a name="expertise"></a></div>
    </div>
    <!--=== End Full Height Youtube Video ===-->

    <!--=== Content Part ===-->
    <div class="content-md">

        {{ content }}
    </div>
