---
layout: default
---
    <!--=== Full Height Youtube Video ===-->
    <div class="bg-color-darker">
      <div id="promo-video" style="height: 400px;" class="video-business-img1">

        <div class="container valign__middle text-center">
          <img class="default-logo" src="/myassets/img/vitreo-logo-horizontal-wt.png" alt="Logo">
          <p class="color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay=".5s"
          style="font-size: 18px; font-weight: 25px; font-weight: 400; padding: 3px 0;">
            TECHNICAL LEADERSHIP - TEAM IMPROVEMENT - SOFTWARE EXPERTISE
          </p>
        </div>
      </div>
    <div><a name="expertise"></a></div>
    </div>
    <!--=== End Full Height Youtube Video ===-->

    <!--=== Content Part ===-->
    <div class="content-md">
      <div class="container">
        {{ content }}
      </div>
    </div>

